# Criando Gráficos em Python

In [1]:
# Importando bibliotecas para manipulação de dados
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
# Importando arquivo
df_iris = pd.read_csv('Iris.csv', index_col=0)

# Informações do DataFrame

In [3]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [5]:
df_iris.shape

(150, 5)

In [7]:
# Mostrando Linhas e Colunas
print('Linhas: ', df_iris.shape[0])
print('Colunas: ', df_iris.shape[1])

Linhas:  150
Colunas:  5

In [8]:
# Mostrando 5 primeiras linhas
df_iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [26]:
# Colocando o nome das colunas em uma lista
listaColunas = []   # Guardar o nome das colunas

for i in df_iris.columns:
    print(i)
    listaColunas.append(i)   # Vai adicionar cada nome na lista

SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species

In [28]:
# Visualizando resultado
listaColunas

['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [31]:
# Verificando se possuí valores nulos
pd.isna(listaColunas)

array([False, False, False, False, False])